body {
    background:  linear-gradient(to right, #1c92d2, #f2fcfe);
    color: rgb(12, 12, 12);
 
  }

  #search-location {
    background: darkblue;
    color: rgb(241, 235, 235);
    border: 5px solid  darkblue;
    border-radius: 10px;}

    #description-element{
    font-size: 20px;
    color: darkblue;
    font-weight: 600px;
    margin: 0 auto;
    padding: 10px 0px;
    text-transform: capitalize;
  }
    
.container {
  max-width: 1000px;
  margin: 0 auto;


}
#days {
    color: rgb(24, 23, 23);

  
}


li {
    text-decoration: none;
    display: block;
    position: relative;
    left: 250px;
    top: -70px;
}
h3 {
    font-size: 20px;
    color: darkblue;
    margin: 0 auto;
    padding: 10px 0px;

}
   
h1 {
    margin: 0 auto;
    color: darkblue;
    
    }


#temp {
    font-size: 30px;
    font-weight: bolder;
    color: darkblue;
    margin: 20px auto;
 
    max-width: 300px;
}
  
#submit {
    background: rgb(202, 196, 196);
    color: black;
    border: 1px solid  black;
}


  form {
    margin: 0 auto;
    padding: 30px 10px;
  }
 

  
#imageweather {
margin: 0 auto;
padding-bottom: 20px;
max-width: 300px;

}

  .card-img-top {
    width: 90px;
    margin: 0 auto;
    padding: 20px 10px;
    
  }
  
   
footer {
  
  font-size: 14px;
  text-align: center;
}

a {
  text-decoration: none;
}
.float-left {
  padding: 10px 20px;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  right: 320px;

}

.active {
  color: darkblue;
  text-decoration: none;
  font-weight: bolder;
  top: -5px;
  position: relative;
}
#celsius-link {
  text-decoration: none;
  font-weight: bolder;
  color: darkblue;
  position: relative;
  font-size: 16px;
  top: -5px;
  right: 1px;

}

#fahrenheit-link {
  text-decoration: none;
  font-weight: bolder;
  color: black;
  position: relative;
  font-size: 16px;
  top: -5px;
  right: 1px;

}


.weather-app {
  
  margin: 0 auto;
 height: 300px;

}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 18px;
  color: black;
  font-weight: 500;
}

.weather-temperature-min{
  opacity: 0.5;
}
